env/
venv/
ENV/
VENV/
.venv/
.env/

generated/

.env

keys/

__pycache__/
*.py[cod]
*$py.class

*.so

*.pem

*.non-vcs

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.whl

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

*.mo
*.pot

*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

docs/_build/
build/
tmp/

target/

.ipynb_checkpoints
*.ipynb

.python-version

Pipfile.lock

poetry.lock

__pypackages__/

.mypy_cache/
.pyre/
.pytype/

.idea/
*.iml
*.iws

.vscode/
.history/

*.code-workspace

.DS_Store

Thumbs.db
ehthumbs.db
